<div class="logo layout-row layout-align-center-center">
    {{#link-to "index"}}
        <img src="/assets/images/phone_fire.png" height="30"/>
        <div class="product-name">Ember on {{platform}}</div>
    {{/link-to}}
</div>